<div className="mt-4">
      <div>
            <input type='file'onChange={handleFileChange}/>
            <button onClick={handleUpload}>Upload Profile picture</button>
      </div>
    <h2>Users</h2>
    {userData.length > 0 && (
      <table className="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          {userData.map((user) => (
            <tr key={user._id}>
              <td>{user.name}</td>
              <td>{user.email}</td>
              <td>{user.phone}</td>
            </tr>
          ))}
        </tbody>
      </table>
    )}
    {userData.length === 0 && (
      <p className="text-center text-muted">No users available.</p>
    )}
  </div>